:root{
  --primary : #CAD5FE;
  --white : white;
  --secondary:#F3F2FE;
  --gray:black;
  --success:#5D98D5;
  --warning:#C3D9F0;
  --black : black;
}

*{
  margin: 0;
  font-family: 'Poppins';
}


body{
  background-color: var(--secondary);
}
header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: var(--primary);
  padding:20px 0;
  color: var(--white);
}


nav{
  background-color: var(--white);
  padding:10px 0;
  display: flex;
  justify-content:center;
  align-items:center;
  gap:20px;
}

nav a{
  text-decoration: none;
  color: var(--primary);
}



section{
  margin:0 100px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

section .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_add{
  text-decoration: none;
  background-color:var(--success);
  color: var(--white);
  padding:10px 15px;
  border-radius:5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn_set{
  text-decoration: none;
  background-color:var(--warning);
  color: var(--black);
  padding:10px 15px;
  border-radius:5px;
  border: none;
  font-size: 14px;
}

.btn_hitung{
  text-decoration: none;
  background-color:var(--primary);
  color: var(--white);
  padding:10px 15px;
  border-radius:5px;
  border: none;
  font-size: 14px;
}


#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color:var(--white)}


#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:var(--white);
  color:var(--black);
}

#table td{
  text-align: center;
  padding: 15px 0;
}


form {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.col-12{
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 100%;
}

.col-2{
  width: 10%;
}


.col-12 .input{
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.d-none{
  display: none;
}